<h1>Clinical Information</h1>
<ul>
    <li>If the patient has recently undergone a &nbsp;transurethral resection of the prostate (TURP) wait 8-12 weeks until the patient has stabilised before commencing radiotherapy.</li>
    <li>If inserting fiducial markers, ensure insertion is &gt; 5 days prior to planning CT.</li>
    <li>Optional use of Hydrogel spacer.</li>
    <li>Pelvic floor exercises may be helpful- consider referral to continence nurse or physiotherapist.</li>
</ul>
<h2>Androgen deprivation therapy</h2>
<ul>
    <li>Consideration should be given to the addition of 3­-8 months of neoadjuvant androgen deprivation (LHRH agonist or antagonist +/­- an anti­-androgen) particularly in unfavourable intermediate risk prostate cancer. Risk factors should be considered in relation to individual comorbidities.</li>
</ul>
<h1>Dose Description</h1>
<table class="table">
    <thead>
    <tr class="table-active">
        <th colspan="1" rowspan="2" scope="col" style="width: 5%; text-align: center;">Phase</th>
        <th colspan="1" rowspan="2" scope="col" style="width: 15%; text-align: center;">Target area</th>
        <th colspan="1" rowspan="2" scope="col" style="width: 15%; text-align: center;">Dose prescription</th>
        <th colspan="1" rowspan="2" scope="col" style="width: 15%; text-align: center;">Prescription point/ volume</th>
        <th colspan="1" rowspan="2" scope="col" style="text-align: center;">Beam type</th>
        <th colspan="1" rowspan="2" scope="col" style="width: 10%; text-align: center;">Beam energy</th>
        <th colspan="1" rowspan="2" scope="col" style="width: 5%; text-align: center;">Dose/#</th>
        <th colspan="1" rowspan="2" scope="col" style="text-align: center;">Fractions</th>
        <th colspan="2" rowspan="1" scope="col" style="width: 20%; text-align: center;">Scheduling</th>
    </tr>
    <tr class="table-active">
        <th scope="col" style="width: 10%; text-align: center;">#/day</th>
        <th scope="col" style="width: 10%; text-align: center;">#/fortnight</th>
    </tr>
    <tr class="table-active">
        <th colspan="10" scope="col" style="width: 5%;">3DCRT/IMRT/VMAT - Single Phase (Prostate - no nodes)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="text-align: center; width: 5%;">1</td>
        <td style="text-align: center; width: 15px;">Prostate + proximal SV (no nodes)</td>
        <td style="text-align: center; width: 15%;">78 - 81Gy</td>
        <td style="width: 15%; text-align: center;">ICRU 50/62/83</td>
        <td style="width: 10%; text-align: center;">Photons</td>
        <td style="width: 10%; text-align: center;">6 - 18 MV</td>
        <td style="width: 5%; text-align: center;">1.8 - 2Gy</td>
        <td style="width: 5%; text-align: center;">39 - 45</td>
        <td style="width: 10%; text-align: center;">1</td>
        <td style="width: 10%; text-align: center;">9 - 10</td>
    </tr>
    </tbody>
</table>
<h2>Prescription notes</h2>

<ul>
    <li>Dose prescription: 73.8 Gy - 81 Gy (Doses of 78Gy or slightly higher are favoured if they can be delivered safely using IGRT and/or IMRT techniques and DVH constraints can be met).</li>
    <li>Lower doses (73.8 - 74Gy) can be considered for patients where tolerability of treatment is a concern.</li>
    <li>If delivering doses &lt; 73.8Gy the use of neoadjuvant or adjuvant hormone therapy is recommended to compensate for the lower dose.</li>
</ul>
