<!--
<div class="row">

    <div class="col-11 ">
        <div class="row" style="margin:auto;">
            <div class="col-3 text-left">
                <div class="form-group">
                    <div class="btn-group btn-group-justified btn-group-raised">

                        <a class="btn btn-sm btn-raised btn-success"><i
                                class="ft ft-navigation"></i>
                            Auswählen
                        </a>
                        <a class="btn btn-sm  btn-raised btn-danger disabled"><i class="ft ft-lock"></i>
                            Fixiert
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-9 text-left pl-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-sm  btn-raised btn-outline-secondary" [class.disabled]="!isPartSelected"><i
                            class="ft ft-eye-off"></i> Entfernen</a>
                    <a class="btn btn-sm  btn-raised btn-outline-primary disabled"
                       [class.disabled]="!isPartSelected"><i class="ft ft-save"></i> Teil merken</a>
                    <a class="btn btn-sm btn-raised btn-outline-success disabled"
                       [class.disabled]="!isPartSelected"><i class="ft ft-move"></i> Bewegen</a>

                </div>
            </div>
        </div>
    </div>
</div>
</!-->
