

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Select an active tab by id</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <ngb-tabset #t="ngbTabset">
                <ngb-tab title="Overview" id="foo">
                    <ng-template ngbTabContent><div class="row" matchHeight="card" (window:resize)="updateCanvasSize()">
                        <div class="col-8" ><app-cad-viewer></app-cad-viewer></div>
                        <div class="col-4">
                            <div class="card">
                                <div class="card-content">
                                    <div class="px-3 py-3">
                                        <div class="media">
                                            <div class="media-body text-left">
                                                <h3 class="mb-1 success">John Wayne</h3>
                                                <span>male, 65 years, stage 4</span>
                                            </div>
                                            <div class="media-right align-self-center">
                                                <i class="icon-user success font-large-2 float-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{test | async}}
                            {{patients | async}}
                            <app-viewer-comment-list usedView="3d"></app-viewer-comment-list>
                            <app-viewer-comment usedView="3d"></app-viewer-comment>


                        </div>
                    </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="bar">
                    <ng-template ngbTabTitle>Organ dosis</ng-template>
                    <ng-template ngbTabContent>
<app-dvh [patientId]="patientId" [planId]="planId"></app-dvh>
                    </ng-template>
                </ngb-tab>
                <ngb-tab id="isodose">
                    <ng-template ngbTabTitle>2D Iso Dose Curves</ng-template>
                    <ng-template ngbTabContent>
                        <app-image-iso-dose [patientId]="patientId" [planId]="planId"></app-image-iso-dose>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>

        </div>
    </div>
</div>
