<div class="card">
    <div class="card-header">
        <h4 class="card-title">Line Chart</h4>
    </div>
    <div class="card-content">
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <div>
                        <div style="display: block" width="400" height="200" class="mb-3">
                            <canvas baseChart
                                    [datasets]="lineChartData"

                                    [options]="options"
                                    [colors]="lineChartColors"
                                    [legend]="lineChartLegend"
                                    [chartType]="lineChartType"
                                    [plugins]="lineChartPlugins"
                                    (chartClick)="onChartClick($event)"

                            #charts>
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col-4">

                    <app-viewer-comment-list (selectedComment)="goToSlice($event)"
                                             usedView="dvh" [planId]="planId" [patientId]="patientId"></app-viewer-comment-list>
                    <app-viewer-comment usedView="dvh" [selectedObject]="value" [planId]="planId" [patientId]="patientId"
                                        description="DvH"></app-viewer-comment>
                </div>
            </div>
            <a (click)="open(content)" class="badge badge-lg badge-primary mb-2" style="color:white;">Recommendations</a>

            <app-dvh-value-table [data]="rawData"[planId]="planId"[patientId]="patientId"></app-dvh-value-table>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss" >
    <div class="modal-header modal-xl">
        <h4 class="modal-title">Recommendations</h4>

    </div>
    <div class="modal-body modal-xl">
        <app-therapy-information></app-therapy-information>
    </div>
    <div class="modal-footer modal-xl">
        <button type="button" class="btn btn-secondary btn-raised" (click)="c('Close click')">Close</button>
    </div>
</ng-template>
